.main {
max-width: 800px;
margin: 0 auto;
}

.top {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.menuitem {
  color: blueviolet;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.menuitem:hover {
  text-decoration: underline;
  color: green;
}

.middle {
  background-color: bisque;
}

.left {

  display: inline-block;
  width: 300px;
  
}

.header {
  margin-bottom: 30px;
}

.blkitems {
  margin-top: 10px;
  border: none;
  background-color: lightsalmon;
  width: 230px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  font-size: 14px;
 

}

::placeholder {
  color: blue;
}

.signIn {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
  width: 70px;
  height: 30px;
  color: darkgreen
}

.forgetPw {
 margin-top: 10px;
 color: white;
}

.appStore {
  width: 100px;
  height: 40px;
  display: block;
  margin: 10px 0px;
}

.googlePlay {
  width: 100px;
  height: 40px;
  display: block;
  margin: 10px 0px;
}

.right {

  display: inline-block;
  width: 400px;
}

.rightimg {
  width: 100%;
  
}

.bottom {
  text-align: center;
  color: brown;
  font-size: large;
}