html, body{
  margin: 0;
  padding: 0;
}

.main { 
  margin: 0 auto;
}



.top { 
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  opacity: 0.9;
  height: 100px;
  align-items: center;
}

.logocont {
  width: 50px; 
  height: 40px;
}
 
.logo {
  width: 100%;
  height: 100%;
}

.menuitem {
  color: blueviolet;
  font-size: 20px;
  text-decoration: none;
  overflow-wrap: ;
}

.menuimg {
display: none;
}

@media (max-width:700px) {
  .menuitem {
    display: none;
  }
  .menuimg {
    display: inline-block;
  }
}

@media (max-width:375px) {
  .inner {
    width: 95%;
  }  
}


.menuitem:hover {
  text-decoration: underline;
  color: green;
}

.middle {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 2000px;
}

.left {

  display: inline-block;
  width: 30%;
  
}



.header {
  margin-bottom: 30px;
  margin-top: 10px;
  border: 5px solid greenyellow;
  outline-style: dotted;
  outline-color: blue;
  outline-width: 4px;
  outline-offset: 10px;
  direction: rtl;
  unicode-bidi:bidi-override
  
}

.text {
  text-decoration: underline darkblue double;
  text-transform: uppercase;
  
}

.blkitems {
  margin-top: 10px;
  border: none;
  background-color: lightsalmon;
  width: 230px;
  height: 20px;
  border-radius: 10px;
  padding: 4px;
  font-size: 14px;
 

}

::placeholder {
  color: blue;
}

.signIn {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 3px;
  width: 70px;
  height: 30px;
  color: darkgreen
}

.forgetPw {
 margin-top: 10px;
 color: white;
}

.appStore {
  width: 100px;
  height: 40px;
  display: block;
  margin: 10px 0px;
}

.googlePlay {
  width: 100px;
  height: 40px;
  display: block;
  margin: 10px 0px;
}

.right {

  display: inline-block;
  width: 400px;
}

.rightimg {
  width: 100%;
  
}

.bottom {
  text-align: center;
  color: brown;
  font-size: large;
}

.paragraph {
  width: 600px;
  height: 700px;
  background-color: burlywood;
}

.below {
  width: 400px;
  height: 500px;
  background-color: greenyellow;
}